<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/lineChart.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>

</head>
<body>
    <div class="chart01">
  <canvas id="myChart" width="1200" height="400"></canvas>
</div>

<div class="chart02">
  <canvas id="pieChart" class="circle01" width="300" height="300"></canvas>
  <canvas id="pieChart2" class="circle02" width="300" height="260"></canvas>
  <canvas id="pieChart3" class="circle03" width="300" height="200"></canvas>
  <div class="caption"> Style 1 </div>
</div>


<div class="chart03">
   <canvas id="dnChart1" class="circle01" width="300" height="300"></canvas>
  <canvas id="dnChart2" class="circle02" width="300" height="300"></canvas>
  <canvas id="dnChart3" class="circle03" width="300" height="300"></canvas>
  <canvas id="dnChart4" class="frame" width="300" height="300"></canvas>
  <div class="caption"> Style 2 </div>
</div>

<script src="/static/js/lineChart.js"></script>

</body>
</html>